<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <!--use hardware sensors/components-->

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--function activity for tiles-->

        <activity
            android:name=".activity.ScreenshotActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--permission activity for tiles-->

        <activity
            android:name=".activity.AccessibilityPermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.NotificationPolicyPermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.WriteSettingsPermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--function services for tiles-->

        <service
            android:name=".services.accessibility.TileAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!--caffeine quick settings tile service-->

        <service
            android:name=".tiles.caffeine.CaffeineTileService"
            android:exported="true"
            android:icon="@drawable/ic_caffeine"
            android:label="@string/caffeine_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--coin flip quick settings tile service-->

        <service
            android:name=".tiles.coinflip.CoinFlipTileService"
            android:exported="true"
            android:icon="@drawable/ic_coin"
            android:label="@string/coin_flip_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--compass quick settings tile service-->

        <service
            android:name=".tiles.compass.CompassTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_compass_off"
            android:label="@string/compass_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing compass sensor data while tile is active" />
        </service>

        <!--counter quick settings tile services-->

        <service
            android:name=".tiles.counter.CounterAddTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_add"
            android:label="@string/counter_tile_add"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".tiles.counter.CounterRemoveTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_remove"
            android:label="@string/counter_tile_remove"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".tiles.counter.CounterResetTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_reset"
            android:label="@string/counter_tile_reset"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.INACTIVE_TILE"
                android:value="true" />
        </service>

        <!--dice roll quick settings tile service-->

        <service
            android:name=".tiles.diceroll.DiceRollTileService"
            android:exported="true"
            android:icon="@drawable/ic_dice"
            android:label="@string/dice_roll_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--bubble level quick settings tile service-->

        <service
            android:name=".tiles.level.LevelTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_level"
            android:label="@string/level_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing accelerometer sensor data while tile is active" />
        </service>

        <!--lock screen quick settings tile service-->

        <service
            android:name=".tiles.lock.LockTileService"
            android:enabled="@bool/enable_lock_tile"
            android:exported="true"
            android:icon="@drawable/ic_lock"
            android:label="@string/lock_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--lux meter quick settings tile service-->

        <service
            android:name=".tiles.luxmeter.LuxMeterTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_lux_meter_off"
            android:label="@string/lux_meter_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing light sensor data while tile is active" />
        </service>

        <!--device memory quick settings tile service-->

        <service
            android:name=".tiles.memory.MemoryTileService"
            android:exported="true"
            android:icon="@drawable/ic_memory"
            android:label="@string/memory_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--screenshot quick settings tile service-->

        <service
            android:name=".tiles.screenshot.ScreenshotTileService"
            android:enabled="@bool/enable_screenshot_tile"
            android:exported="true"
            android:icon="@drawable/ic_screenshot"
            android:label="@string/screenshot_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--sos quick settings tile service-->

        <service
            android:name=".tiles.sos.SosTileService"
            android:exported="true"
            android:icon="@drawable/ic_sos"
            android:label="@string/sos_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--sound mode quick settings tile service-->

        <service
            android:name=".tiles.soundmode.SoundModeTileService"
            android:exported="true"
            android:icon="@drawable/ic_sound"
            android:label="@string/sound_mode_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!--temperature quick settings tile service-->

        <service
            android:name=".tiles.temperature.TemperatureTileService"
            android:exported="true"
            android:icon="@drawable/ic_temperature_off"
            android:label="@string/temperature_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>